/*
 *
 * MMM-Notion
 *
 * Cedrik Hoffmann
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

#mmm-notion-listview {
  display: flex;
  flex-direction: column;
}

#mmm-notion-listview-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#mmm-notion-listview-titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#mmm-notion-listview-propContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

#mmm-notion-listview-emoji {
  padding-right: 6px;
}

#mmm-notion-listview-select {
  padding: 0 2px;
  font-size: smaller;
  border-radius: 5px;
}

#mmm-notion-listview-multiselect {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

#mmm-notion-listview-multiselect-element {
  padding: 0 2px;
  font-size: smaller;
  border-radius: 5px;
}

#mmm-notion-listview-person {
  border-radius: 50%;
}

#mmm-notion-listview-person_chip_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
