
#mmm-notion-listview {
  display: flex;
  flex-direction: column;
}

#mmm-notion-listview-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#mmm-notion-listview-titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
  flex-shrink: 0;
}

#mmm-notion-listview #mmm-notion-property {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  flex-shrink: 0;
}

#mmm-notion-listview-emoji {
  padding-right: 6px;
}

#mmm-notion-property-select {
  padding: 0 2px;
  font-size: smaller;
  border-radius: 5px;
  color: white;
}

#mmm-notion-property-multiselect {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

#mmm-notion-property-multiselect-element {
  padding: 0 2px;
  color: white;
  font-size: smaller;
  border-radius: 5px;
}

#mmm-notion-property-person {
  border-radius: 50%;
}

#mmm-notion-property-person_chip_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#mmm-notion-property-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border-radius: 20%;
}

#mmm-notion-property-status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#mmm-notion-property-status-text {
  font-size: smaller;
  padding: 0 2px;
  color: white;
  opacity: 70%;
}

#mmm-notion-property-text {
  padding: 0;
  margin: 0;
}
